body {
    color: white;
}

.tftitem {
    background: #202020;
    border-radius: 5px;
    border: 5px solid transparent;
    margin-bottom: 10px;
}

.tftheader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 0.5px solid white;
}

.tftitemname {
}

.tftcompcontainer {
    display: flex;
    justify-content: normal;
}

.tftitemcomp {
    background: black;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tftcarrypic {
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.tftcontent {
    display: flex;
    justify-content: normal;
}

.tftleftcontent {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.tftitemcontainer {
    display: flex;
    justify-content: normal;
    margin-top: 10px;
}

.tftitemchamp {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gold;
    margin-right: 35px;
}

.tftitemitem {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.tftcontentseperator {
    content: "";
}

.tftcontentseperator--horizontal {
    border-bottom: 0.5px solid white;  
    width: 100%;
}

.tftcontentseperator--vertical {
    left: 50%; 
    border-left: 0.5px solid white;  
    height: auto;
    margin-top: 5px;
    margin-right: 5px;
}

.tftrightcontent {
    width: 50%;
}

.tftrightheading {
    margin: 2px 0px 0px 4px;
}

.tftrequirements--ul {
    margin: 5px auto 10px auto;
}

.tftplaystyle--ul {
    margin: 5px auto 10px auto;
}